.heading{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-playlist{
    margin-top: 20px;
    border-top: 4px solid rgb(0, 0, 0);
}


.table{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.playlist-table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.2);
    border-radius: 15px;
    min-width: 700px;
    padding: 20px;
    margin-bottom: 20px;
}

.playlist-table-head{
    min-width: 540px;
}

.playlist-table-colheader1{
    min-width: 98px;
    border-bottom: 2px solid black;
}
.playlist-table-colheader2{
    min-width: 225px;
    border-bottom: 2px solid black;
}
.playlist-table-colheader3{
    min-width: 200px;
    border-bottom: 2px solid black;
}

.table-body-playlist-name{
    min-width: 92px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.table-body-songs{
    margin: 5px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

.table-body-songs-title{
    min-width: 180px;
}

.table-body-actions{
    min-width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}