.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.general-buttons{
  background-color: rgb(24,165,229);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 8px;
  border: 1px;
  font-size: small;
  font-weight: 600;
  text-decoration: none;
  margin: 2px;
}

.general-buttons:hover{
  background-color: rgb(19, 122, 170);
  cursor: pointer;
}

.heading{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
